
<div class="card card-body tableFixHead mt-2" *ngrxLet="Loading$ as loading">
  <div class="spinner-border m-5" role="status" *ngIf="loading">
    <span class="sr-only">Loading...</span>
  </div>
  <table class="table" *ngIf="!loading">
    <thead>
      <tr>
        <th>EmployeeNo</th>
        <th>Name</th>
        <th>Department</th>
        <th>Designation</th>
        <th>Date Of Birth</th>
        <th>Date of Joining</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees" [ngClass]="{'bg-danger':!employee.isValid}">
        <td>{{ employee.employeeNo }}</td>
        <td>{{ employee.employeeName }}</td>
        <td>
          <select class="form-control fullwidth" [disabled]="employee.isValid">
            <option value="0">Select Department</option>
            <option *ngFor="let department of departments" [selected]="employee.departmentId == department.id" [value]="department.id">{{ department.name }}</option>
          </select>
        </td>
        <td>
          <select class="form-control fullwidth" [disabled]="employee.isValid">
            <option value="0">Select Designation</option>
            <option *ngFor="let designation of designations" [selected]="employee.designationId == designation.id" [value]="designation.id">{{ designation.name }}</option>
          </select>
        </td>
        <td>{{ employee.dateOfBirth | date }}</td>
        <td>{{ employee.dateOfJoining | date }}</td>
      </tr>
    </tbody>
  </table>
</div>
