<div class="page">
    <mat-card>
        <mat-card-title>OFFICE MANAGER</mat-card-title>
        <mat-card-content>
            
            <form [formGroup]="forgotPasswordForm" class="example-form" (ngSubmit)="forgotPasswordCall()">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput formControlName="email">
                    <mat-error *ngIf="displayMessage['email']">{{displayMessage['email']}}</mat-error>
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary" [disabled]="!forgotPasswordForm.valid" class="fullwidth custom-btn mb-3" [ngClass]="{' bg-primary':forgotPasswordForm.valid}">Forgot Password</button>
                <span class="suggestion"> Already have an account? <a [routerLink]="['/']">Login</a> here</span>

            </form>
        </mat-card-content>
    </mat-card>
</div>