<div class="container-fluid dashboard d-flex">
  <div class="sidebar bg-dark">
    <app-sidebar></app-sidebar>
  </div>
  <div class="content d-flex flex-column">
    <div class="header">
      <app-header></app-header>
    </div>
    <div class="container py-2 body" *ngrxLet="Loading$ as loading">
      <div class="spinner-section" *ngIf="loading">
        <div class="spinner-border m-5" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
