.authPage{
    width: 100%;
    height: 100%;
    display: flex;
    .left-section{
        flex: 1;
        height: 100%;
        position: relative;
        justify-content: center;
        background: url('/assets/logoImage.webp');
        background-size: contain;
        background-repeat: no-repeat;
        .app-name{
            font-size: 48px;
            bottom: 10%;
            left: 22%;
            position: absolute;
            font-weight: 600;
            letter-spacing: 5px;
            color: #1F4690;
        }
    }
    .right-section{
        flex: 1;
        background-color: #DFEFFF;
        overflow: auto;
    }
}