
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');
.back-pick{
  background: url("/assets/backgroundOffice.jpg") !important;
}
.left-section{
  background-color: rgba(0,0,0,0.7);
  height: 100%;
}

.right-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img{
  width: 400px;
  height: 100px;
}
.app-title{
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 5px;
  font-family: 'Hind Madurai', sans-serif;
}
