<div class="sidebar-container">
  <div class="logo px-1">
    <h1 class="logo-title">Office Manager</h1>
  </div>
  <div class="custom-sidebar card bg-dark m-0 p-0 border-0">
    <ul class="nav flex-column">
      <!-- <li class="nav-item">
        <a class="nav-link text-white" href="#">Dashboard</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/employees']">Employees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/skills']">Skills</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link text-white" href="#">Master <i class="bi small bi-caret-down-fill"></i></a>
        <ul class="submenu collapse">
          <li><a class="nav-link" href="#">Roles </a></li>
          <li><a class="nav-link" href="#">Departments </a></li>
          <li><a class="nav-link" href="#">Designations</a> </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Roles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Departments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Designations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Salary</a>
      </li> -->
    </ul>
  </div>
</div>
